@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@import "tailwindcss";

.Pixelfont {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}